:root {
    --bs-pagination-active-color: red;
    --bs-pagination-active-bg: blue;
    --bs-pagination-active-border-color: orange;
}

body {
    /*background-color: #888;*/
}

.npdebug {
    border: 2px dashed #c40000;
    margin: 10px;
    padding: 10px;
    font-family: Courier New, Monospace, Courier, Fixed, System;
    color: white;
    background-color: #333;
}

.npdebug.sql {

}

body.mode_test {
    background-image: url(/img/tile-test.gif);
}

body.page-news #mainContent {
    /*background-color:#ccc;*/
}

#testModeText {
    display: none;
}

body.mode_test #testModeText {
    display: initial;
}

ul.nfpList {
    list-style-type: none;
    padding-left: 0;
}

nav span.nfp_update_count {
    display: none;
    margin-left: 0.2rem;
}

nav span.nfp_update_count.visible {
    display: inline;
}

.nfp_accordionGreen .accordion-button:not(.collapsed) {
    background-color: var(--bs-green);
}

ul.nfp_list_noleftpad {
    padding-left: 1rem;
}

ul.nfp_list_nomessagepadding p {
    margin-bottom: 0.2rem;
}

strong.nfp_title {
    font-size: 1.1rem;
}


/*** LOGIN FORM ***/
.form-signin {
    text-align: center;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*** CHAT ***/
body.page-chat #chat {
    padding: 0.2rem;
    max-height: 400px;
}

body.page-chat #chat #chatBox {
    border: 1px solid var(--bs-body-color);
    min-height: 350px;
    overflow-y: auto;
    max-height: 70%;
}

body.page-chat #chatInput {
    background-color: var(--bs-light) !important;
    color:var(--bs-secondary-text-emphasis);
    padding:0.3rem;
}


body.page-chat #chat #chatBox ul#chatMsgList {
    list-style-type: none;
    padding: 1rem;
    font-size: 0.85rem;
}

body.page-chat #chat #chatBox ul#chatMsgList .cm .small {
    display: block;
    float: left;
    margin-right: 10px;
}

body.page-chat #chat #chatBox ul#chatMsgList .cm em {
    display: block;
    float: left;
    margin-right: 10px;
}

body.page-chat #chat #chatBox ul#chatMsgList .cm {
    margin-bottom: 1rem;
}

#nfpAccordionKnowledge a, #nfpAccordionFiles a {
    color:var(--bs-accordion-color);
}

#nfpAccordionFiles .nfpList li {
    margin-bottom:10px;
}

#nfpAccordionFiles .hiddenInfo {
    border:1px solid var(--bs-accordion-border-color);
    padding:0.3rem;
    display:none;
}

.nfpAppTitle {
    font-weight:bold;
    font-size:1rem;
}