:root {
    --bs-pagination-active-color: red;
    --bs-pagination-active-bg: blue;
    --bs-pagination-active-border-color: orange;
}

body {
    /*background-color: #888;*/
}

.npdebug {
    border: 2px dashed #c40000;
    margin: 10px;
    padding: 10px;
    font-family: Courier New, Monospace, Courier, Fixed, System;
    color: white;
    background-color: #333;
}

.npdebug.sql {

}

body.mode_test {
    background-image: url(/img/tile-test.gif);
}

body.page-news #mainContent {
    /*background-color:#ccc;*/
}

#testModeText {
    display: none;
}

body.mode_test #testModeText {
    display: initial;
}

ul.nfpList {
    list-style-type: none;
    padding-left: 0;
}

nav span.nfp_update_count {
    display: none;
    margin-left: 0.2rem;
}

nav span.nfp_update_count.visible {
    display: inline;
}
.nfp_accordionGreen .accordion-button:not(.collapsed) {
    background-color:var(--bs-green);
}

ul.nfp_list_noleftpad {
    padding-left:1rem;
}
ul.nfp_list_nomessagepadding p {
    margin-bottom:0.2rem;
}