:root {
    --bs-pagination-active-color:red;
    --bs-pagination-active-bg:blue;
    --bs-pagination-active-border-color:orange;
}

body {
    background-color: #888;
}

.npdebug {
    border:2px dashed #c40000;
    margin:10px;
    padding:10px;
    font-family:Courier New,Monospace,Courier,Fixed,System;
    color:white;
    background-color:#333;
}

.npdebug.sql {

}

body.mode_test {
    background-image:url(/img/tile-test.gif);
}

body.page-news #mainContent {
    background-color:#ccc;
}

#testModeText {
    color:red;
    font-weight:bold;
    display:none;
}

body.mode_test #testModeText {
    display:initial;
}