{% extends 'main.html.twig' %}

{% block title %}{{ settings.user_signup_title }} @ {{ sys.system.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>{{ settings.user_signup_title }}</h1>
            </div>
        </div>
    </div>
{% endblock %}
